<div class="container">
  <h3>Editar Veiculo</h3>

  <div class="form-group">
    <label for="veiculo">Veiculo</label>
    <input
      type="text"
      class="form-control"
      id="veiculo"
      [(ngModel)]="veiculo.veiculo"
      placeholder="Nome do veiculo"
    />
  </div>
  <div class="form-group">
    <label for="marca">Marca</label>
    <input
      type="text"
      class="form-control"
      id="marca"
      [(ngModel)]="veiculo.marca"
      placeholder="Marca">
    />
  </div>
  <div class="form-group">
    <label for="descricao">Descricao</label>
    <input
      type="text"
      class="form-control"
      id="descricao"
      [(ngModel)]="veiculo.descricao"
      placeholder="Descrição">
    />
  </div>
  <div class="form-group">
    <label for="ano">Ano</label>
    <input
      type="text"
      class="form-control"
      id="ano"
      [(ngModel)]="veiculo.ano"
      placeholder="Ano">
    />
  </div>
  <div class="form-group form-check form-switch">
    <input
      type="checkbox"
      class="form-check-input"
      id="vendido"
      [(ngModel)]="veiculo.vendido"
    />
    <label class="form-check-label" for="vendido">Vendido</label>

  </div>
  <button type="submit" class="btn btn-success" (click)="update()">
    Update
  </button>
  <button type="submit" class="btn btn-warning ml-1" [routerLink]="['/list']">
    Cancel
  </button>
</div>
